# vim: syntax=bash
watch_file env.nix

ENV_SHA=$(shasum env.nix | head -c 10)
ENV_PATH="nix-env/$ENV_SHA"

if [ ! -e $ENV_PATH ]
then
  mkdir -p $(dirname $ENV_PATH)
  nix-build env.nix --out-link $ENV_PATH
fi

PATH_add "$ENV_PATH/bin"
