<script src="./dist/vue.js"></script>
<title>vidtracker</title>

<div id="app">
  <h1>vidtracker</h1>
  <div class="header">
    <div class="info">
      <h3><span>Info:</span></h3>
      <span>o: open current file</span>
      <span>k: move cursor up</span>
      <span>j: move cursor down</span>
      <span>W/M: mark as watched</span>
      <span>r: refresh</span>
      <span>I: fetch icons and reload page</span>
      <span>files loading: {{ loading }}</span>
      <span>icons loading: {{ iconsLoading }}</span>
      <span v-if="!groupBySeries">g: group by series</span>
      <span v-else>g: turn off group by series</span>
    </div>
    <div class="recents">
      <h3><span>Recently watched:</span></h3>
      <div v-for="recent in recents">
        <div class="recent">
          <span>{{ recent.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div v-for="file in files">
    <div
      class="file"
      v-bind:class="{ 'done': file.watched, 'cursor': cursor === file.idx }"
      v-bind:title="'latest watched: ' + file.latest"
    >
      <div class="icon" v-bind:style="file.style"></div>
      <div
        class="name"
        v-bind:data-title="file.title"
        v-bind:data-series="file.series"
        v-on:click="openFile(file)"
      >
        {{ file.title }}
      </div>
      <div class="watched" v-on:click="toggleWatched(file)">
        <span v-if="file.watched">watched: {{ file.watched }}</span>
        <span v-else>
          <span v-if="file.latest != null">last: {{ file.latest }}</span>
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Noto Sans CJK JP";
    max-width: 900px;
    margin: auto;
    padding: 1rem;
  }

  .header {
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .info {
    flex: 1;
  }

  .recents {
    flex: 2;
  }

  .info span {
    display: block;
  }

  .recents {
    text-align: right;
  }

  .file {
    /* display: flex; */
    /* align-items: center; */
    border: 1px solid white;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
  }

  .file.done {
    background: rgba(0, 255, 0, 0.05);
  }

  .file.cursor {
    border: 1px solid black;
    background: rgba(255, 0, 0, 0.2);
  }

  .file.done.cursor {
    background: rgba(255, 100, 0, 0.2);
  }

  .name,
  .watched {
    padding: 0.5rem;
    cursor: pointer;
  }

  .name:hover,
  .watched:hover {
    text-decoration: underline;
  }

  .file .watched:hover:before {
    content: "mark watched - ";
  }

  .file.done .watched:hover:before {
    content: "";
  }

  .icon {
    width: 4rem;
    height: 2rem;
    border: 1px solid grey;
    border-radius: 2rem;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .name {
    flex: 1;
  }

  .watched {
    width: 20rem;
    text-align: right;
  }
</style>

<script>
  const nameEpisodeRegex = /\[.*\] (.*) - (\d+) [\[\(].+[\)\]]+.*\.mkv/;

  function parseFilename(filename) {
    let matches = filename.match(nameEpisodeRegex);
    let series = matches && matches.length > 1 ? matches[1] : "n/a";
    let episode = matches && matches.length > 2 ? parseInt(matches[2]) : null;
    return { series, episode };
  }

  function getFiles(filenames, watched) {
    let latest = {};
    let watchedMap = {};
    watched.map((entry) => {
      watchedMap[entry.name] = entry.date;
      let { series, episode } = parseFilename(entry.name);
      if (episode) {
        if (latest[series] == null) {
          latest[series] = episode;
        } else if (latest[series] < episode) {
          latest[series] = episode;
        }
      }
    });

    const withEpisode = filenames.map((filename, idx) => {
      let { series, episode } = parseFilename(filename);

      let origin = window.location.origin;
      let encoded = encodeURIComponent(series);
      let backgroundImage = `url("${origin}/dist/icons/${encoded}")`;

      return {
        idx,
        title: filename,
        watched: watchedMap[filename],
        series,
        episode,
        style: {
          backgroundImage,
        },
      };
    });

    const withLatest = withEpisode.map((r) => {
      r.latest = latest[r.series];
      return r;
    });

    return withLatest;
  }

  function groupBySeries(files) {
    let series = {};
    let idx = 0;
    for (let file of files) {
      if (series[file.series]) {
        series[file.series].push(file);
      } else {
        series[file.series] = [file];
      }
    }
    let output = [];
    for (let key in series) {
      let subFiles = series[key];
      subFiles.sort((a, b) => b.episode - a.episode);
      subFiles.map((f) => (f.idx = idx++));
      output = output.concat(subFiles);
    }
    return output;
  }

  async function fetchFilenames() {
    const res = await fetch("/files");
    const json = await res.json();
    return json;
  }

  async function fetchWatched() {
    const res = await fetch("/watched");
    const json = await res.json();
    return json;
  }

  async function sendOpenFile(file) {
    return await fetch(`/open?name=${encodeURIComponent(file.title)}`);
  }

  async function sendToggleWatched(file) {
    return await fetch(
      `/update?name=${encodeURIComponent(file.title)}&watched=${!file.watched}`
    );
  }

  async function sendGetIcons() {
    return await fetch("/icons");
  }

  function startApp() {
    var app = new Vue({
      el: "#app",
      data: {
        loading: true,
        iconsLoading: false,
        files: [],
        filenames: [],
        watched: [],
        recents: [],
        cursor: -1,
        groupBySeries: false,
      },
      created() {
        this.fetchData();
        this.handleKeyboardEvents();
      },
      methods: {
        async fetchData() {
          this.loading = true;
          const [filenames, watched] = await Promise.all([
            fetchFilenames(),
            fetchWatched(),
          ]);
          this.filenames = filenames;
          this.watched = watched;
          this.recents = watched.slice(0, 9);
          this.recalculate();
        },
        recalculate() {
          this.loading = false;
          this.files = getFiles(this.filenames, this.watched);
          if (this.groupBySeries) {
            this.files = groupBySeries(this.files);
          }
        },
        async openFile(file) {
          this.cursor = file.idx;
          sendOpenFile(file);
        },
        async toggleWatched(file) {
          this.cursor = file.idx;
          sendToggleWatched(file);
          this.fetchData();
        },
        async sendGetIcons() {
          this.iconsLoading = true;
          await sendGetIcons();
          this.iconsLoading = false;
          window.location = "/";
        },
        updateCursor(fn) {
          this.cursor = fn(this.cursor);
          if (this.cursor < -1) {
            this.cursor = -1;
            window.scroll(0, 0);
          } else {
            let file = this.files[this.cursor];
            if (file) {
              let e = document.querySelector(`div[data-title='${file.title}']`);
              if (e) {
                e.scrollIntoViewIfNeeded();
              }
            }
          }
        },
        handleKeyboardEvents() {
          window.addEventListener("keydown", (e) => {
            if (e.key === "k") {
              this.updateCursor((x) => x - 1);
            }
            if (e.key === "j") {
              this.updateCursor((x) => x + 1);
            }
            if (e.key === "o") {
              let file = this.files[this.cursor];
              if (file) {
                this.openFile(file);
              }
            }
            if (e.key === "M" || e.key === "W") {
              let file = this.files[this.cursor];
              if (file) {
                this.toggleWatched(file);
              }
            }
            if (e.key === "r") {
              this.fetchData();
            }
            if (e.key === "I") {
              this.sendGetIcons();
            }
            if (e.key === "g") {
              this.groupBySeries = !this.groupBySeries;
              this.recalculate();
            }
          });
        },
      },
    });

    console.log("app running:", app);

    window.app = app;
  }

  startApp();
</script>
